.dark-mode{
    background-color: darken($grisOscuro, 10);
    h1, h2, h3, h4{
        
        color: $blanco;
    }
    p, td {
        color: #6c72cb;
        
    }
    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $gris;
        
        .precio{
            color: #cb69c1;
        }
        .ico{
            filter: invert(100%);
        }
    }
    .site-footer{
        background-color: darken($grisOscuro, 8);
    }
    .blog{
        .entrada-blog{
            span{
                color: #cb69c1;
            }
        }
    }
    .contenido-nos{
        blockquote{
            color: #cb69c1;
        }
    }
    .resumen-prop{
          .precio {
              color: #cb69c1;
          }

          .ico {
              filter: invert(100%);
          }
    }
    .formulario{
        legend{
            color: $blanco;
        }
        label, p{
            color: #6c72cb;
        }
        input:not([type="submit"]),
        textarea,
        select{
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: #cb69c1;
        }
    }
}